@model IEnumerable<FoodTrackingApp.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h4>Food List</h4>

<p>
    <a asp-action="Create">Add Food Record</a>
</p>
<p>
    <a asp-action="Search">Search for existing food record by food</a>
</p>
<p>
    <a asp-action="SearchbyDate">Search for existing food record by Date</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbohydrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Snacks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbohydrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Snacks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Index</a>
</div>
